<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fiek.unipr.stayfit">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StayFit"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".profileActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".login.Signup_Form"
            android:exported="true" />
        <activity
            android:name=".exercises.ExercisesActivity"
            android:parentActivityName=".workouts.fitActivity" />
        <activity
            android:name=".workouts.fitActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".workouts.WorkoutDetails"
            android:parentActivityName=".workouts.fitActivity" />
        <activity android:name=".exercises.Exercises" />
        <activity android:name=".login.Login_Form">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>